<h3>編輯產品</h3>
<%= form_for @product, method: "patch" do |p|%>
    <%= p.label :name, "名稱" %>:
    <%= p.text_field :name %><br />
    <%= p.label :description, "描述" %>:
    <%= p.text_field :description %><br />
    <%= p.label :image_url, "圖片網址" %>:
    <%= p.text_field :image_url %><br />
    <%= p.label :price, "價格" %>:
    <%= p.text_field :price %><br />
    <%= p.submit "更新"%>
<% end %>

 
 